
.color-black {
  color: var(--text--color--text-black);
}

.text-xl-regular {
  font-weight: 500;
  font-size: 1.5em;
}

.text-regular-semibold {
  font-weight: 500;
}

.align-right {
  text-align: right;
}