
:root {
  --text--color--text-white: white;
  --brand--teal-bright--600: #1ed1cd;
  --text--color--text-black: #18191b;
  --font--font-family--barlow: Barlow, sans-serif;
  --brand--teal-bright--700: #17a3a0;
  --brand--blue--500: #3871e0;
  --sizing--rem--large-48px: 48px;
  --sizing--rem--medium-32px: 32px;
  --sizing--rem--xxsmall-4px: 4px;
  --sizing--rem--small-16px: 16px;
  --brand--teal-dark--500: #3bb6b3;
  --page-black: #18191b;
  --brand--teal-bright--900: #0e615f;
  --white: white;
  --brand--teal-bright--500: #21e6e1;
  --base--white: #fff;
  --neutrals--gray--50: #f2f2f2;
  --sizing--spacing--small: 16px;
  --transparent: #21e6e100;
  --accent--lime--600: #a4c51c;
  --base--black: #000;
  --sizing--spacing--xsmall: 8px;
  --brand--navy--900: #081425;
  --border--xlarge: 6px;
  --radius--xxlarge: 24px;
  --brand--blue--700: #28509f;
  --black: #0000004d;
  --accent--lime--700: #809a16;
  --brand--navy--500: #123059;
  --line-divider: #494b50;
  --accent--lime--50: #f8fbe9;
  --accent--lime--100: #e8f3ba;
  --accent--lime--200: #ddee98;
  --accent--lime--300: #cde669;
  --accent--lime--400: #c3e14c;
  --accent--lime--500: #b4d91f;
  --accent--lime--800: #637711;
  --accent--lime--900: #4c5b0d;
  --accent--orange--50: #fdf0e9;
  --accent--orange--200: #f6bb99;
  --accent--orange--100: #f9d1ba;
  --accent--orange--500: #eb6b22;
  --accent--orange--400: #ef894e;
  --accent--orange--600: #d6611f;
  --accent--orange--700: #a74c18;
  --accent--orange--900: #632d0e;
  --accent--orange--800: #813b13;
  --accent--orange--300: #f29c6b;
  --border--small: 1px;
  --border--medium: 2px;
  --border--large: 4px;
  --border--xxlarge: 8px;
  --border--huge: 12px;
  --brand--blue--100: #c1d3f5;
  --brand--blue--200: #a3bef1;
  --brand--blue--300: #7aa0ea;
  --brand--blue--400: #608de6;
  --brand--blue--600: #3367cc;
  --brand--blue--800: #1f3e7b;
  --brand--blue--900: #182f5e;
  --brand--navy--100: #b6bfcc;
  --brand--navy--300: #607490;
  --brand--navy--400: #41597a;
  --brand--navy--600: #102c51;
  --brand--navy--800: #0a1a31;
  --brand--navy--50: #e7eaee;
  --brand--navy--700: #0d223f;
  --brand--navy--200: #92a0b3;
  --brand--teal-bright--100: #baf7f6;
  --brand--teal-bright--200: #99f4f1;
  --brand--teal-bright--300: #6aeeeb;
  --brand--teal-bright--400: #4debe7;
  --brand--teal-bright--50: #e9fdfc;
  --brand--teal-bright--800: #127f7c;
  --brand--teal-dark--50: #ebf8f7;
  --brand--teal-dark--100: #c2e8e7;
  --brand--teal-dark--200: #a5dddc;
  --brand--teal-dark--300: #7ccecc;
  --brand--teal-dark--400: #62c5c2;
  --brand--teal-dark--600: #36a6a3;
  --brand--teal-dark--700: #2a817f;
  --brand--teal-dark--800: #206462;
  --brand--teal-dark--900: #194c4b;
  --elements-webflow-library--accent--primary-1: #4a3aff;
  --elements-webflow-library--general--shadow-02: #14142b14;
  --elements-webflow-library--neutral--300: #eff0f6;
  --elements-webflow-library--neutral--800: #211f54;
  --elements-webflow-library--neutral--600: #6e7191;
  --elements-webflow-library--neutral--100: white;
  --elements-webflow-library--secondary--color-1: #281ca5;
  --neutrals--gray--100: #d8d8d8;
  --neutrals--gray--200: #c5c5c5;
  --neutrals--gray--500: gray;
  --neutrals--gray--300: #aaa;
  --neutrals--gray--600: #747474;
  --neutrals--gray--700: #5b5b5b;
  --neutrals--gray--400: #999;
  --neutrals--gray--800: #464646;
  --neutrals--gray--900: #363636;
  --radius--tiny: 2px;
  --radius--xxsmall: 4px;
  --radius--xsmall: 6px;
  --radius--small: 8px;
  --radius--medium: 12px;
  --radius--large: 16px;
  --radius--xlarge: 20px;
  --radius--round: 9999px;
  --radius--huge: 32px;
  --radius--button--round: 9999px;
  --radius--component--tiny: 2px;
  --radius--component--xxsmall: 4px;
  --radius--component--xsmall: 6px;
  --radius--component--large: 16px;
  --radius--component--round: 9999px;
  --radius--component--small: 8px;
  --sizing--component--small: 16px;
  --sizing--component--medium: 32px;
  --sizing--component--large: 48px;
  --sizing--component--xlarge: 64px;
  --sizing--component--huge: 96px;
  --sizing--component--xxlarge: 80px;
  --sizing--rem--tiny-2px: 2px;
  --sizing--rem--xsmall-8px: 8px;
  --sizing--rem--xlarge-64px: 64px;
  --sizing--rem--huge-96px: 96px;
  --sizing--rem--xxhuge-192px: 192px;
  --sizing--rem--xhuge-128px: 128px;
  --sizing--rem--xxlarge-80px: 80px;
  --sizing--spacing--tiny: 2px;
  --sizing--spacing--xxsmall: 4px;
  --sizing--spacing--medium: 32px;
  --sizing--spacing--large: 48px;
  --sizing--spacing--xlarge: 64px;
  --sizing--spacing--xxlarge: 80px;
  --sizing--spacing--huge: 96px;
  --sizing--spacing--xhuge: 128px;
  --sizing--spacing--xxhuge: 192px;
  --spacing--md: 16px;
}
