    <div class="footer_component blend-teal centered">
      <div class="padding-global width-1200">
        <div class="container-large">
          <div class="padding-section-medium">
            <div class="wrapper-footer-content">
              <a href="index.html" aria-current="page" class="footer-logo-link w-nav-brand w--current"><img width="63"
                  loading="lazy" alt="" src="images/Logo-JPEG_XL-color-vertical-square.svg" class="footer-logo"></a>
              <div class="w-layout-grid footer_bottom-wrapper">
                <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703422e-4703421c"
                  class="w-layout-grid footer_social-list">
                  <a href="https://discord.gg/DqkQgDRTFu" target="_blank" class="social-link w-inline-block"><img
                      src="images/Icon-social-discord-black.svg" loading="lazy" alt="" class="icon-social add-glow"></a>
                  <a href="https://www.reddit.com/r/jpegxl" target="_blank" class="social-link w-inline-block"><img
                      src="images/Icon-social-reddit-black.svg" loading="lazy" alt="" class="icon-social"></a>
                  <a id="w-node-_24fb526d-e2ce-98f2-0ed9-7b6156e1ac26-4703421c" href="https://x.com/jpegxl"
                    target="_blank" class="social-link w-inline-block"><img src="images/Icon-social-x-twitter-black.svg"
                      loading="lazy" alt="" class="icon-social"></a>
                </div>
                <div id="w-node-a89a5031-0ff7-675b-f7d6-29d42dd985eb-4703421c" class="container-content-vflex">
                  <div id="w-node-fedcfc71-bc17-af3f-285c-68c798bcef4e-4703421c" class="wrapper-text centered">
                    <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703423d-4703421c" class="footer_credit-text">©2024
                      JPEG XL and the JPEG XL Community.<br>
                      Want to contribute to this website? <a href="https://github.com/jxl-community/jxl-community.github.io" class="footer_legal-link">Make a pull request!</a><br>
                      Site created by <a href="https://fractionalxperience.com" class="footer_legal-link">Fractional Xperience</a>.<Br><a href="old/" class="footer_legal-link">Access to archived website.</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
