  <nav data-w-id="53131fc7-ff65-2143-6237-0f9cca0b5641" class="navbar-2-component">
    <div class="navbar-container-menu-top">
      <div class="navbar-2-container">
        <a href="index.html" aria-current="page" class="navbar_logo-link w-nav-brand w--current"><img width="63"
            loading="lazy" alt="" src="images/Logo-JPEG-XL-Horizontal-full_colour-white.svg" class="navbar_logo"></a>
        <div class="navbar_menu-items">
          <a href="#" class="navbar_link navbar-top w-inline-block"><img
              data-w-id="53131fc7-ff65-2143-6237-0f9cca0b5648" loading="lazy" alt="" src="images/Icon-white-Menu.svg"
              class="navbar-icon-main"></a>
          <div class="navbar-divider-vertical"></div>
          <a href="#" class="navbar_link navbar-top w-inline-block"><img loading="lazy"
              src="images/Icon-white-Email.svg" alt="" class="navbar-icon-main"></a>
        </div>
      </div>
    </div>
    <div data-w-id="53131fc7-ff65-2143-6237-0f9cca0b564c" class="container-navbar-dropdown-content">
      <div class="container-navbar-content">
        <div id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b564e-ca0b5641" class="container-navbar-content-left">
          <div id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b564f-ca0b5641" class="container-vflex fullspan-width">
            <div class="container-content-hflex fullspan">
              <div class="container-column-vertical">
                <div class="navbar-wrapper-text-section span-with_divider-bottom">
                  <div class="text-navbar-menu_section">Resources</div>
                </div>
                <a href="resources/supported-software.html" class="button-group w-inline-block">
                  <div class="button-link-text">Supported Software</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5659-ca0b5641" href="resources/battle-of-codecs.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">Battle of the Codecs</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b565c-ca0b5641" href="resources/faqs.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">FAQs</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b565f-ca0b5641" href="resources/glossary.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">Glossary</div>
                </a>
              </div>
              <div id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5662-ca0b5641" class="container-column-vertical">
                <div class="navbar-wrapper-text-section span-with_divider-bottom">
                  <div class="text-navbar-menu_section">Tools</div>
                </div>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5663-ca0b5641"
                  href="resources/distance-vs-effort-visualizer.html" class="button-group w-inline-block">
                  <div class="button-link-text">Distance vs. Effort Visualizer</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5666-ca0b5641" href="resources/jpeg-xl-test-page.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">JPEG XL Test Page</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b566c-ca0b5641" class="container-navbar-content-right">
          <div id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b566d-ca0b5641" class="container-vflex fullspan-width">
            <div class="container-content-hflex fullspan">
              <div class="container-column-vertical">
                <div class="navbar-wrapper-text-section span-with_divider-bottom">
                  <div class="text-navbar-menu_section">About</div>
                </div>
                <a href="about/history.html" class="button-group w-inline-block">
                  <div class="button-link-text">History</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5677-ca0b5641" href="about/contributors.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">Contributors</div>
                </a>
                <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b567a-ca0b5641" href="about/photo-credits.html"
                  class="button-group w-inline-block">
                  <div class="button-link-text">Photo Credits</div>
                </a>
              </div>
              <div class="container-column-vertical fullspan">
                <div class="container-column-vertical">
                  <div class="navbar-wrapper-text-section span-with_divider-bottom">
                    <div class="text-navbar-menu_section">Media</div>
                  </div>
                  <a id="w-node-_53131fc7-ff65-2143-6237-0f9cca0b5682-ca0b5641" href="media/newsroom.html"
                    class="button-group w-inline-block">
                    <div class="button-link-text">Newsroom</div>
                  </a>
                </div>
                <div class="container-column-vertical">
                  <div id="w-node-_8fa6e689-d1f5-ad57-1e42-1d64051bdbca-ca0b5641"
                    class="w-layout-grid navbar-social-links">
                    <a href="https://discord.gg/DqkQgDRTFu" target="_blank" class="social-link w-inline-block"><img
                        src="images/Icon-social-discord-black.svg" loading="lazy" alt="" class="icon-social"></a>
                    <a href="https://www.reddit.com/r/jpegxl" target="_blank" class="social-link w-inline-block"><img
                        src="images/Icon-social-reddit-black.svg" loading="lazy" alt="" class="icon-social"></a>
                    <a id="w-node-_8fa6e689-d1f5-ad57-1e42-1d64051bdbcf-ca0b5641" href="https://x.com/jpegxl"
                      target="_blank" class="social-link w-inline-block"><img
                        src="images/Icon-social-x-twitter-black.svg" loading="lazy" alt="" class="icon-social"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
